#x-inset, #y-inset, #threshold, #ellipse {
    width: 40px;
}

.remove-all-images-button {
    font-size: 12px;
}

.settings > div {
    width: 150px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    margin-top: 5px;
}

#remove-all-images {
    width: 250px;
}
