body {
    margin: 0;
    background-color: #fefefe;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.settings-container {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    height: 110px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 0px 2px 15px #e8e8e8;
}

.settings-container2 {
    margin: 0px auto;
    box-sizing: border-box;
    padding: 20px 50px;
    max-width: 510px;
    height: 110px;
}

.settings {
    /* border-style: solid;
    border-width: 1px; */
    min-width: 425px;
} 

.container {
    /*background-color: cadetblue;*/
    margin: 110px auto 20px;
    max-width: 600px;
    padding: 50px 50px 1px 50px;
}

.image-item, .image-item-add {
    background-color: white;
    border-radius: 10px;
    border-color: #e8e8e8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 10px #e8e8e8;
}

.image-item {
    margin: 0px 0px 15px 0px;
    padding: 20px 20px 15px 20px;
}

.image-name {
    font-size: 1.1em;
}

.image-chart {
    margin: 8px 0px 0px;
    padding-inline-start: 3px;
    padding-left: 0px;
}

.remove-image, .add-image-plus {
    height: 15px;
    width: 15px;
}

.remove-image {
    float: right;
    margin: 5px;
}

.add-image-plus {
    display: inline;
}

.chart-element {
    height: 20px;
    list-style-type: none;
    /*border-style: solid;
    border-width: 1px;
    border-color: aqua;*/
}

.chart-element > *, .image-item-add > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.image-number {
    font-size: 12px;
    text-align: left;
    float: left;
}

.chart-bar, .chart-bar-other {
    border-radius: 2px 2px 2px 2px;
    height: 4px;
    box-sizing: border-box;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}

.chart-bar {
    background-color: tomato;
    margin-left: 15px;
    margin-right: 8px;
}

.chart-bar-other {
    background-color: limegreen;
    margin-left: -4px;
}

.add-image-text {
    display: inline;
    line-height: 10px;
    margin-left: 8px;
}

.add-image-plus, .add-image-text {
    filter: opacity(70%);
}


.image-item-add {
    width: 110px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    margin: 30px auto 20px auto;
}

.image-item-add:hover {
    background-color: #f7f7f7;
}

.image-item-add, .remove-image {
    cursor: pointer;
}


